*{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

/* NavBar */

.navBar{
  height: 60px;
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navLogo{
  height: 50px;
  width: 113px;
}

.logo{
  background-image: url("Amazon-Logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y:center;
  height: 50px;
  width : 100%;
}

.broder{
  border: 1px solid transparent;
}
.border:hover{
  border: 1px solid white;
}

.deliver{
  font-size: 12px;
  line-height: 14px;
  color: #cccccc;
  margin-left: 37px;
  /* margin-top: 9px; */
}
.country{
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
}
.locationIcon{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.navAdress{
  /* margin-top: 5px;; */
  margin: 5px;
  padding: 9px;
}
.navSearch{
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  border-radius: 5px;
  background-color: aqua;
}

.navSearch:hover{
  border: 2px solid orange;
}

.searchSelect{
  background-color: #f3f3f3;
  color: #0f1111;
  width: 45px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}
.searchInput{
  width: 100%;
  font-size: 1rem;
  border: none;
}
.searchIcon{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: #febd68;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #0f1111;
}

span{
  font-size: 0.7rem;
}
.boldText{
  font-size: 0.85rem;
  font-weight: 700;
}

.navCart i{
  font-size: 25px;
}
.navCart{
  font-size: 0.85rem;
  font-weight: 700;
}

/* Panel */
.panel{
  height: 40px;
  display: flex;
  background-color: #232F3E;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}
.panelOption p{
  display: inline;
  justify-content: space-evenly;
  margin-left: 15px;
}
.panelOption{
  width: 95%;
}